<p>This is a demo of the <a href="https://github.com/oskarrough/ember-jets">ember-jets</a> addon.</p>

{{jets-search
  contentTag=".jets-content"
  content=items
  value=query
}}

<ul class="jets-content">
  {{#each items as |item|}}
    <li>
      {{item}} - {{#text-italic}}test{{/text-italic}}
    </li>
  {{/each}}
</ul>

{{outlet}}