{{jets-search
  contentTag=".jets-content"
  content=items
}}

<ul class="jets-content">
  {{#each items as |item|}}
    <li>
      {{#text-italic}}JETS{{/text-italic}}
      <h1>{{item}}</h1>
    </li>
  {{/each}}
</ul>

{{outlet}}